<footer>
  <div class="container-md py-4 mt-3 border-top">
    <p class="footer-text text-center text-secondary">
      Books information provided by
      <a href="https://openlibrary.org/developers/api" target="_blank">Open Library.</a>
    </p>
    <p class="footer-text text-center text-secondary">
      © 2024 Rizaldi Nur Rahman Naufal
    </p>
  </div>
</footer>
<!-- script here -->
<script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="scripts/script.js"></script>
</body>
</html>