<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Notes</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/book.css" />
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body class="bg-body">
    <header class="shadow-sm bg-success">
      <div class="container-md">
        <div class="row justify-content-between align-items-center py-4 px-2">
          <div class="col-6 p-0">
            <a id="web-title" href="/"
              ><h1 class="m-0 d-inline-block">Book Notes</h1></a
            >
          </div>
          <div
            class="search-container col-6 d-flex justify-content-end position-relative p-0"
          >
            <form class="searchForm hide" action="/search-book" method="get">
              <input
                type="text"
                class="searchbox text-dark"
                placeholder="Enter book title, author name,or isbn..."
                name="search"
                autocomplete="off"
                required
              />
              <button type="submit" class="icon bg-primary">
                <i class="fa fa-search"></i>
              </button>
            </form>
            <form id="book-search" action="/book" method="get"></form>
            <div class="suggestions"></div>
            <button
              id="mobile-btn-search"
              class="mobile-btn-search icon btn btn-dark"
            >
              <i id="togglerIcon" class="fa fa-search"></i>
            </button>
          </div>
          <div
            id="mobile-search-container"
            class="search-container col-12 position-relative p-0"
          >
            <form class="searchForm" action="/search-book" method="get">
              <input
                type="text"
                class="searchbox text-dark"
                placeholder="Enter book title, author name,or isbn..."
                name="search"
                autocomplete="off"
                autofocus
                required
              />
              <button type="submit" class="icon bg-primary">
                <i class="fa fa-search"></i>
              </button>
            </form>
            <div class="suggestions"></div>
          </div>
        </div>
      </div>
    </header>

