<%- include('partials/header.ejs'); -%>
<article id="reviewed-book">
  <div class="container-md py-4 justify-content-center">
    <div class="row gx-5">
      <div
        class="modal fade"
        id="deleteModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content bg-dark text-light">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Delete Review
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-theme="light"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Your action is irreversible. Are you sure you want to delete?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                No
              </button>
              <button type="button" class="btn btn-outline-secondary">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-md-start text-center mb-md-0 mb-3">
        <img src="<%= book.cover %>" alt="" class="reviewed-book-cover" />
      </div>
      <div class="col-9">
        <h2 class="text-light border-bottom border-dark-subtle pb-1 mb-3">
          Book Title here
        </h2>
        <p class="text-light">Year first published:</p>
        <p class="text-light">Author(s):</p>
        <p class="text-light review-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero
          suscipit sed amet. Aliquam culpa nisi esse magni hic voluptatibus,
          numquam enim rerum accusantium porro aspernatur iure doloremque
          consequuntur. Nesciunt, perferendis. Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Voluptate quisquam sit quidem asperiores
          iure dolorem fugit repellat, fugiat voluptatem sed, doloribus
          inventore facere perferendis repudiandae beatae! Nostrum nam
          necessitatibus odit. Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Ipsa deleniti adipisci dolorum quod totam magni
          molestiae est eius, aliquid quos soluta praesentium optio
          exercitationem animi recusandae facilis ullam ratione. In! Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Esse eaque, sequi nulla
          pariatur sunt dolorum quibusdam dolorem inventore quisquam id deleniti
          dolores, iure voluptatum corporis. Quibusdam reiciendis labore esse
          placeat. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Cupiditate architecto voluptates, voluptatem asperiores, tempora
          aliquid eum doloribus voluptatum, maxime quos ducimus necessitatibus
          neque sed atque dolor aut exercitationem impedit unde. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Dignissimos sit
          doloremque enim nesciunt, ad ipsa dolorum totam? Esse iusto fugit,
          architecto minus quae rem sed quam aut sit id quisquam!
        </p>
        <p class="mb-0 text-light">Rating :</p>

        <div class="rating text-light">
          <!-- Notice that the stars are in reverse order -->
          <input type="radio" id="star5" name="rating" value="5" />
          <label for="star5">&#9733;</label>
          <input type="radio" id="star4" name="rating" value="4" />
          <label for="star4">&#9733;</label>
          <input type="radio" id="star3" name="rating" value="3" />
          <label for="star3">&#9733;</label>
          <input type="radio" id="star2" name="rating" value="2" />
          <label for="star2">&#9733;</label>
          <input type="radio" id="star1" name="rating" value="1" />
          <label for="star1">&#9733;</label>
        </div>
      </div>
    </div>
  </div>
</article>

<%- include('partials/footer.ejs'); -%>
