<%- include('partials/header.ejs'); -%>

<article id="books-album">
  <div class="container-md py-4">
    <h2 class="pb-3 border-bottom border-dark-subtle text-light">My Books</h2>
    <div
      id="book-container"
      class="row justify-content-md-start mt-1 justify-content-center g-4"
    >
      <% if (books.length) { %> <% books.forEach(book => { %>
      <div class="card-container col-lg-4 col-md-6 col-sm-8">
        <div class="card shadow-sm bg-transparent">
          <div class="card-body text-center">
            <img class="book-cover" src="<%=book.cover %>" alt="book cover" />
            <h2 class="card-text text-light mt-2"><%= book.book_title %></h2>
            <button class="button btn btn-outline-primary shadow">View</button>
          </div>
        </div>
      </div>
      <%}); %> <% } %>
      <!-- <div class="card-container col-lg-4 col-md-6 col-sm-8">
            <div class="card shadow-sm bg-transparent">
              <div class="card-body">
                <img src="" alt="" srcset="" />
                <h2 class="card-text text-center text-light">Book Title</h2>
              </div>
            </div>
          </div>
          <div class="card-container col-lg-4 col-md-6 col-sm-8">
            <div class="card shadow-sm bg-transparent">
              <div class="card-body">
                <img src="" alt="" srcset="" />
                <h2 class="card-text text-center text-light">Book Title</h2>
              </div>
            </div>
          </div>
          <div class="card-container col-lg-4 col-md-6 col-sm-8">
            <div class="card shadow-sm bg-transparent">
              <div class="card-body">
                <img src="" alt="" srcset="" />
                <h2 class="card-text text-center text-light">Book Title</h2>
              </div>
            </div>
          </div>
          <div class="card-container col-lg-4 col-md-6 col-sm-8">
            <div class="card shadow-sm bg-transparent">
              <div class="card-body">
                <img src="" alt="" srcset="" />
                <h2 class="card-text text-center text-light">Book Title</h2>
              </div>
            </div>
          </div>
          <div class="card-container col-lg-4 col-md-6 col-sm-8">
            <div class="card shadow-sm bg-transparent">
              <div class="card-body">
                <img src="" alt="" srcset="" />
                <h2 class="card-text text-center text-light">Book Title</h2>
              </div>
            </div>
          </div>
          <div class="card-container col-lg-4 col-md-6 col-sm-8">
            <div class="card shadow-sm bg-transparent">
              <div class="card-body">
                <img src="" alt="" srcset="" />
                <h2 class="card-text text-center text-light">Book Title</h2>
              </div>
            </div>
          </div>
          <div class="card-container col-lg-4 col-md-6 col-sm-8">
            <div class="card shadow-sm bg-transparent">
              <div class="card-body">
                <img src="" alt="" srcset="" />
                <h2 class="card-text text-center text-light">Book Title</h2>
              </div>
            </div>
          </div>
          <div class="card-container col-lg-4 col-md-6 col-sm-8">
            <div class="card shadow-sm bg-transparent">
              <div class="card-body">
                <img src="" alt="" srcset="" />
                <h2 class="card-text text-center text-light">Book Title</h2>
              </div>
            </div>
          </div>
          <div class="card-container col-lg-4 col-md-6 col-sm-8">
            <div class="card shadow-sm bg-transparent">
              <div class="card-body">
                <img src="" alt="" srcset="" />
                <h2 class="card-text text-center text-light">Book Title</h2>
              </div>
            </div>
          </div> -->
    </div>
    <div
      class="pagination d-flex justify-content-center mt-4 gap-2 align-items-center"
    >
      <button
        class="page-btn btn btn-outline-light btn-sm shadow"
        id="prevPage"
      >
        Previous
      </button>
      <small id="pageIndicator" class="text-light"></small>
      <button
        class="page-btn btn btn-outline-light btn-sm shadow"
        id="nextPage"
      >
        Next
      </button>
    </div>
  </div>
</article>

<%- include('partials/footer.ejs'); -%>
